* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../pictures/wp4676588-4k-pc-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login_form_container {
    width : 25%;
    height: 280px;
    padding-bottom: 20px;
    backdrop-filter: blur(8px);
    text-shadow: 0 0 10px #fff;
    border-radius: 25px 25px;
    box-shadow: 0 0 30px #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
}

.login_form{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 15px #fff;
}

@media (max-width: 768px) {
    .login_form_container {
        width : 50%;
    }
    h1{
        font-size: 30px;
    }
}

.input_group {
    margin : 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff solid 1px;
    border-radius: 5px;
}

.input_text {
    height: 30px;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}

.fa{
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}

#login_error{
    color : black;
    background-color: red;
}

.login_button {
    background: transparent;
    border: none;
    outline: none;
}

.login_button input {
    margin : 10px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    background: transparent;
    border: #fff solid 1px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.login_button input:hover {
    text-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
}
